/*--- NORMALIZE ---*/
@import '../libs/normalize.min.css';

/*--- GLOBAL FONTS STYLES ---*/

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans Regular'),
		local('OpenSans-Regular'),
		url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-semi-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans SemiBold'),
		local('OpenSans-SemiBold'),
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/OpenSansBold/OpenSansBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans Bold'),
		local('OpenSans-Bold'),
		url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansBold/OpenSansBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansBold/OpenSansBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-extra-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans ExtraBold'),
		local('OpenSans-ExtraBold'),
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/*--- GLOBAL TAG STYLES ---*/

*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

html, body {
	/* height: 100%; */
	/* margin: 0; */
	/* padding: 0; */
}

body {
	position: relative;
	/* min-width: 320px; /* поменять на нужное значение */
	width: 100%;

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.2; /* межстрочный интервал свой для каждого проекта */
	color: #7581a1;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

p {
	line-height: 1.625;
}

button {
	line-height: 1;
	border: none;
	cursor: pointer;
}

/*--- GLOBAL CLASS STYLES ---*/

/* спец.класс для скрытия элементов с сохранением доступности */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	outline: 1px solid red;
}
.h1, .h2 {
	color: #192b59;
}
.h2 {
	font-size: 50px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: -1.5px;
}
.h2 span {
	display: block;
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #1085e4;
}
.h3 {
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 2.8px;
	text-transform: uppercase;
	color: #1a88e1;
}

.button {
	display: inline-block;
	padding: 21px 39px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	color: #ffffff;
	background-color: #1085e4;
	border: 2px solid #1085e4;
	border-radius: 30px;
	transition: 0.3s;
}
.button:hover {
	color: #1085e4;
	background-color: transparent;
}
.icon-gear {
	width: 115px;
	height: 97px;
	background-image: url('../img/features/features_icon-gear.png');
	background-repeat: no-repeat;
}

/*--- CUSTOM STYLES ---*/

/* HEADER */
.page-header {
	position: relative;
	background-image: url('../img/header_bg_all.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top center;
}
.page-header__container {
	padding-top: 48px;
	padding-bottom: 311px;
}
.page-header__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page-header__logo {
	min-width: 181px;
}
.page-header__logo img {
	width: 181px;
	height: 49px;
}
.main-nav__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	list-style-type: none;
}
.main-nav__item {
	padding-top: 3px;
}
.main-nav__item:last-child {
	padding-top: 2px;
}
.main-nav__link {
	display: block;
	padding: 10px 19px;
	color: #6e7ea9;
}
.main-nav__trial {
	padding: 21px 53px;
	margin-left: 21px;
	font-weight: normal;
	letter-spacing: 1.8px;
	color: #ffffff;
	background-color: #1085e4;
	border: 2px solid #1085e4;
}

.page-header__title {
	max-width: 540px;
	font-size: 80px;
	font-weight: 600;
	line-height: 90px;
	letter-spacing: -2.3px;
	margin-top: 299px;
	margin-bottom: 48px;
	padding: 0;
}
.page-header__links .button + .button {
	margin-left: 15px;
}
.page-header__learn-link {
	color: #7e8bae;
	background-color: #cbdbe8;
	border: 2px solid #cbdbe8;
}
.page-header__learn-link:hover {
	color: #7e8bae;
}

/* SPONSORS */
.sponsors {
	background-image: url('../img/sponsors/sponsors_bg_all.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.sponsors__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 102px 0;
	list-style-type: none;
}
.sponsors__image--token {
	width: 198px;
	height: 58px;
}
.sponsors__image--magneto {
	width: 200px;
	height: 69px;
}
.sponsors__image--boohoo {
	width: 201px;
	height: 47px;
}
.sponsors__image--fractal {
	width: 200px;
	height: 69px;
}
/* FEATURES */
.features__grid-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'title docs custom'
		'mobile docs custom'
		'mobile responsive support'
		'edit responsive support'
		'edit quote quote';
	grid-gap: 30px 30px;
	padding: 121px 15px 89px 15px;
}
.features__title {
	grid-area: title;
	margin: 0;
	padding-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
}
.features__title span {
	font-size: 14px;
	line-height: 1;
	padding-bottom: 17px;
	letter-spacing: 2.8px;
}
.features__item {
	min-height: 393px;
	padding-right: 38px;
	padding-left: 40px;
	text-align: center;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 8px 16px rgba(180, 181, 181, 0.2);
	outline: 1px solid red;
}
.features__item--docs {
	grid-area: docs;
	padding-top: 60px;
}
.features__item--custom {
	grid-area: custom;
	padding-top: 45px;
}
.features__item--friendly {
	grid-area: mobile;
	padding-top: 48px;
}
.features__item--responsive {
	grid-area: responsive;
	padding-top: 40px;
}
.features__item--support {
	grid-area: support;
	padding-top: 43px;
}
.features__item--edit {
	grid-area: edit;
	padding-top: 38px;
}
.features__icon {
	margin: 0 auto;
	background: url('../img/features/features_icons.png') no-repeat;
	outline: 1px solid #000000;
}
.features__icon--docs {
	width: 73px;
	height: 79px;
	margin-bottom: 28px;
	background-position: 0 -313px;
}
.features__icon--custom {
	width: 89px;
	height: 85px;
	margin-bottom: 37px;
	background-position: 0 -619px;
}
.features__icon--friendly {
	width: 79px;
	height: 82px;
	margin-bottom: 37px;
	background-position: 0 0;
}
.features__icon--responsive {
	width: 85px;
	height: 90px;
	margin-bottom: 37px;
	background-position: 0 -460px;
}
.features__icon--support {
	width: 100px;
	height: 87px;
	margin-bottom: 37px;
	background-position: 0 -773px;
}
.features__icon--edit {
	width: 103px;
	height: 92px;
	margin-bottom: 6px;
	background-position: 0 -151px;
}
.features__name {
	margin: 0;
	margin-bottom: 19px;
	font-size: 20px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: -0.6px;
	color: #192b59;
}
.features__desc {
	/* margin: 0; */
	/* padding: 0; */
}
.features__more {
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	color: #1085e4;
}
.features__quote {
	grid-area: quote;
	margin: 0;
	padding: 0;
}
.features__quote-author {
	font-style: normal;
	font-weight: bold;
	color: #192b59;
}
.features__quote-author span {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}

/* SUBSCRIBE*/
.subscribe {
	background: rgba(10, 32, 144, 1) linear-gradient(120deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
}
.subscribe__wrapper {
	display: flex;
	/* justify-content: space-between; */
	padding-top: 52px;
	padding-bottom: 51px;
}
.subscribe__form {
	flex-basis: 540px;
	padding-top: 63px;
}
.subscribe__title {
	margin: 0;
	padding: 0;
	padding-bottom: 27px;
	color: #ffffff;
}
.subscribe__title span {
	padding-bottom: 17px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2.8px;
	color: #00bffe;
}
.subscribe__desc {
	max-width: 445px;
	margin: 0;
	padding-bottom: 36px;
	font-size: 18px;
	line-height: 28px;
	color: #dfe8ff;
}
.subscribe__input {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-basis: 540px;
	padding: 8px;
	padding-left: 10px;
	border-radius: 35px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
}
.subscribe__email {
	flex-grow: 1;
	padding: 0;
	padding-left: 29px;
	padding-right: 15px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	color: #b1c3ee;
	background-color: transparent;
	border: none;
}
.subscribe__email::placeholder {
	color: #b1c3ee;
}
.subscribe__email:focus,
.subscribe__email:active {
	color: #000000;
	background-color: #ffffff;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 35px;
}
.subscribe__button {
	padding: 16px 44px;
	padding-right: 41px;
	font-size: 14px;
	letter-spacing: 2.7px;
	border: 2px solid #1085e4;
}
.subscribe__button:hover {
	background-color: #ffffff;
	border: 2px solid transparent;
}
.subscribe__picture {
	flex-grow: 1;
	align-self: flex-end;
}
.subscribe__image {
	max-width: 354px;
	margin-left: auto;
}

/* SOFTWARE-FEATURES */
.software-features {
	position: relative;
	padding-top: 113px;
	padding-bottom: 183px;
	overflow: hidden;
}
.software-features__bg {
	position: absolute;
	width: 933px;
	height: 988px;
	left: -9px;
	bottom: -32px;
	background-image: url('../img/features/features_note-all.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}
.software-features__wrappper {
	position: relative;
	max-width: 608px;
	margin-left: auto;
}
.software-features__icon {
	position: absolute;
	top: 0;
	left: -24px;
	margin-bottom: 8px;
}
.software-features__title {
	margin: 0;
	margin-bottom: 26px;
	padding-top: 105px;
	padding-right: 71px;
}
.software-features__desc {
	margin: 0;
	padding: 0;
	/* padding-right: 15px; */
	margin-bottom: 29px;
}
.software-features__list {
	height: 322px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
}
.software-features__list::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.software-features__list::-webkit-scrollbar-button {
	background-color: #1085e4;
	visibility: hidden;
}
.software-features__list::-webkit-scrollbar-track-piece {
	background-color: #f3f6ff;
}
.software-features__list::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #1085e4;
	border-radius: 10px;
}
.software-features__name {
	margin-bottom: 11px;
	font-weight: bold;
	line-height: 1.625;
	color: #5a6789;
}
.software-features__text {
	margin-left: 0;
	margin-bottom: 24px;
	padding-bottom: 27px;
	padding-right: 30px;
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1px solid#f2f2f2;
}
.software-features__text:last-child {
	border-bottom: none;
}

/* STATS */
.stats {
	background-color: #edf6ff;
	padding-top: 96px;
	padding-bottom: 108px;
}
.stats__wrapper {
	text-align: center;
}
.stats__title {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 60px;
	line-height: 54px;
}
.stats__title span {
	font-size: 16px;
	letter-spacing: 3.2px;
	line-height: 60px;
}
.stats__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.stats__item {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	color: #1085e4;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}
.stats__item span {
	display: block;
	font-size: 60px;
	font-weight: bold;
	line-height: 70px;
	letter-spacing: -1.8px;
	color: #bacbdc;
}

/* INTRO-APP */
.intro-app {
	position: relative;
	padding: 111px 0 91px 0;
}
.intro-app__wrapper {
	position: relative;
}
.intro-app__back-title {
	position: absolute;
	left: 182px;
	top: -141px;
	font-size: 300px;
	font-weight: 800;
	letter-spacing: -9px;
	color: #000000;
	opacity: 0.04;
	z-index: -1;
}
.intro-app__content {
	width: 55%;
	padding-bottom: 30px;
}
.intro-app__title {
	margin: 0;
	margin-bottom: 36px;
}
.intro-app__desc {
	margin-bottom: 28px;
}
.intro-app__available-text {
	margin-bottom: 23px;
	font-weight: bold;
	color: #c4d2dd;
	text-transform: uppercase;
	letter-spacing: 3.2px;
}
.intro-app__download-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 0;
}
.intro-app__download-list > li {
	display: inline-block;
	margin-right: 30px;
}
.app-btns__link {
	display: block;
	width: 161px;
	height: 53px;
	background-image: url('../img/video/apps_links-without-shadow.png');
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 0 8px 16px rgba(144, 144, 144, 0.4);
}
.app-btns__link--android {
	background-position: 0 0;
}
.app-btns__link--ios {
	width: 152px;
	background-position: -191px 0;
}
.intro-app__link {
	display: block;
	position: absolute;
	top: 52px;
	right: 227px;
}

/* GET-STARTED */
.get-started {
	padding: 160px 0 120px 0;
	background-image: url('../img/features/get-started_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.get-started__wrapper {
	display: flex;
	justify-content: space-between;
}
.get-started__image {
	flex-basis: 473px;
	margin-left: -21px;
}
.get-started__column {
	position: relative;
	flex-basis: 604px;
}
.get-started__icon {
	position: absolute;
	top: -40px;
	left: -26px;
}
.get-started__title {
	margin-top: 66px;
	margin-bottom: 26px;
}
.get-started__desc {
	margin: 0;
	margin-bottom: 35px;
}


/* LEARN-MORE	*/
.learn-more {
	padding: 146px 0 120px 0;
	background-image: url('../img/features/learn-more_bg.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.learn-more__wrapper {
	display: flex;
	justify-content: space-between;
}
.learn-more__column {
	position: relative;
	flex-basis: 618px;
	margin-left: 32px;
}
.learn-more__icon {
	position: absolute;
	top: -26px;
	left: -25px;
}
.learn-more__title {
	margin-top: 80px;
	margin-bottom: 26px;
}
.learn-more__desc {
	margin: 0;
	margin-bottom: 35px;
}
.learn-more__button {
	padding: 21px 64px;
}
.learn-more__image {
	flex-basis: 461px;
	margin-right: -22px;
}

/* PREVIEW */
.preview {
	background-color: #edf6ff;
	padding-top: 96px;
}
.preview__title {
	margin: 0;
	margin-bottom: 73px;
	font-size: 40px;
	line-height: 46px;
	letter-spacing: -1.2px;
	text-align: center;
}
.preview__title span {
	line-height: 60px;
}
.preview__image {
	margin: 0 auto;
}

/* REVIEWS */
.reviews {
	position: relative;
	padding-top: 120px;
	background-image: url('../img/clients/clients_bg.svg');
	background-repeat: no-repeat;
	background-position: left 120px;
}
.reviews__wrapper {
	padding-top: 43px;
}
.reviews__title {
	margin-bottom: 61px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1.3px;
	color: #eeeeee;
}
.reviews__title span {
	color: #85c8ff;
	margin-bottom: 17px;
}
.reviews__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reviews__item {
	margin: 0;
	flex-basis: 31.5%;
	padding: 34px 40px 20px 40px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 16px 32px rgba(185, 185, 185, 0.2);
}
.reviews__text {
	margin: 0;
	margin-bottom: 27px;
	font-size: 14px;
	line-height: 24px;
	color: #8085b1;
}
.reviews__author-info {
	display: flex;
	flex-wrap: wrap;
}
.reviews__author-picture {
	margin: 0;
}
.reviews__author-name {
	padding-left: 19px;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.66px;
	color: #000958;
}
.reviews__author-name span {
	display: block;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2.8px;
	color: #1085e4;
	text-transform: uppercase;
}

/* PRICING */
.pricing {
	padding: 96px 0 120px 0;
}
.pricing__title {
	margin: 0;
	margin-bottom: 83px;
	font-size: 40px;
	line-height: 46px;
	letter-spacing: -1.2px;
	text-align: center;
}
.pricing__title span {
	line-height: 60px;
}
.pricing__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pricing__item {
	flex-basis: 31.5%;
}
.plan-card {
	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
	text-align: center;
	background-image: url('../img/pricing/triangle.svg');
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-color: #f5faff;
}
.plan-card__cost {
	font-size: 70px;
	font-weight: bold;
	color: #000958;
	letter-spacing: -2px;
}
.plan-card__currency {
	font-size: 20px;
	padding-right: 2px;
}
.plan-card__period {
	font-size: 20px;
	color: #7b8ab2;
}
.plan-card__title {
	margin-top: 12px;
	margin-bottom: 43px;
	color: #0084ff;
}
.plan-card__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
	line-height: 20px;
	color: #8085b1;
	margin-bottom: 15px;
}
.plan-card__item {
	margin-bottom: 20px;
}
.plan-card__item:last-child {
	margin-bottom: 0;
}
.plan-card__button {
	margin-top: 33px;
	padding: 21px 62px;
	color: #8085b1;
	background-color: transparent;
	border: 2px solid #dce1e5;
}
.plan-card__button:hover {
	color: #ffffff;
	background-color: #94b4cc;
	border: 2px solid #94b4cc;
}
.plan-card--highlighted {
	background-image: none;
	background-color: #192b59;
}
.plan-card--highlighted .plan-card__cost {
	color: #ffffff;
}
.plan-card--highlighted ul {
	color: #ffffff;
}
.plan-card--highlighted .plan-card__button {
	color: #ffffff;
	background-color: #1085e4;
	border: 2px solid #1085e4;
}
.plan-card--highlighted .plan-card__button:hover {
	color: #94b4cc;
	background-color: transparent;
	border-color: #94b4cc;
}

/* TEAM */
.team {
	padding: 96px 0 120px 0;
	background-image: url('../img/team/team_bg.png');
	background-repeat: no-repeat;
	background-position: top center;
}
.team__title {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1.2px;
	color: #eeeeee;
	text-align: center;
}
.team__title span {
	line-height: 60px;
	color: #85c8ff;
}
.team__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.team__item {
	flex-basis: 31.5%;
	margin-top: 86px;
	text-align: center;
	background-color: #ffffff;
}
.person__name {
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #192b59;
}

/* CONTACT */
.contact__name::placeholder,
.contact__email::placeholder,
.contact__message::placeholder {
	font-size: 14px;
	color: #8995b3;
}
.contact__button {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #ffffff;
	text-transform: uppercase;
}

/* FOOTER */
.copyright__text {
	font-weight: normal;
	color: #b6bae0;
}
.copyright__link {
	color: #1085e4;
	text-transform: uppercase;
}
