/*--- GLOBAL FONTS STYLES ---*/

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans Regular'),
		local('OpenSans-Regular'),
		url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-semi-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans SemiBold'),
		local('OpenSans-SemiBold'),
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansSemiBold/OpenSansSemiBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/OpenSansBold/OpenSansBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans Bold'),
		local('OpenSans-Bold'),
		url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansBold/OpenSansBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansBold/OpenSansBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/* open-sans-extra-bold - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans ExtraBold'),
		local('OpenSans-ExtraBold'),
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/OpenSansExtraBold/OpenSansExtraBold.svg#OpenSans') format('svg');
	/* Legacy iOS */
}

/*--- GLOBAL TAG STYLES ---*/

*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

html, body {
	/* height: 100%; */
	/* margin: 0; */
	/* padding: 0; */
}

body {
	position: relative;
	/* min-width: 320px; /* поменять на нужное значение */

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.2; /* межстрочный интервал свой для каждого проекта */
	color: #7581a1;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/*--- GLOBAL CLASS STYLES ---*/

/* спец.класс для скрытия элементов с сохранением доступности */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.h1, .h2, .h3 {
	color: #192b59;
}
.h2 {
	font-size: 50px;
	font-weight: 600;
}
.h2 span {
	display: block;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	color: #1085e4;
}

/*--- CUSTOM STYLES ---*/

/* HEADER */
.main-nav__list {
	font-size: 12px;
	font-weight: bold;
	color: #6e7ea9;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}
.main-nav__trial {
	font-weight: normal;
	color: #ffffff;
	background-color: #1085e4;
}

.page-header__title {
	font-size: 80px;
	font-weight: 600;
}

/* FEATURES */

.features__title {
	font-size: 40px;
	font-weight: 700;
}
.features__title span {
	font-size: 14px;
}
.features__item {
	text-align: center;
}
.features__name {
	font-size: 20px;
	font-weight: 600;
}
.features__more {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}
.features__quote-author {
	font-style: normal;
	font-weight: bold;
	color: #192b59;
}
.features__quote-author span {
	font-size: 14px;
	font-weight: 600;
	color: #1085e4;
}
